.nav-img {
    position: relative;
    width: 136px;
    height: 36px;
    /* left: 70px;
top: 30px; */

}

.btn-nav {
    color: #FFFFFF !important;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
  }